<?js
var data = obj;
var self = this;
var myName = data.attribs + ' ' + (kind === 'class' ? 'new ' : '') + name + ' ' + (data.signature || '') ;
?>
<?js if (data.kind !== 'module' && !data.hideconstructor) { ?>
<?js if (data.kind === 'class' && data.classdesc) { ?>
-----------
Constructor
-----------

<?js } ?>
<?js if (data.kind !== 'namespace') { ?>
<?js= myName ?>
<?js= '-'.repeat(myName.length) ?>

<?js } ?>
<?js if (data.summary) { ?>
`<?js= summary ?>`:summary:
<?js } ?>
<?js } ?>
<?js if (data.kind !== 'module' && data.description && !data.hideconstructor) { ?>
.. description

<?js= data.description ?>
<?js } ?>
<?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
Extends
```````
<?js= self.partial('augments.tmpl', data) ?>
<?js } ?>
<?js if (kind === 'event' && data.type && data.type.names) {?>
Type
````

<?js= self.partial('type.tmpl', data.type.names) ?>
<?js } ?>
<?js if (data['this']) { ?>
This
````

<?js= this.linkto(data['this'], data['this']) ?>
<?js } ?>
<?js if (data.params && params.length && !data.hideconstructor) { ?>
Parameters
``````````

<?js= this.partial('params.tmpl', params) ?>
<?js } ?>
<?js= this.partial('details.tmpl', data) ?>
<?js if (data.kind !== 'module' && data.requires && data.requires.length) { ?>
Requires
````````
<ul><?js data.requires.forEach(function(r) { ?>
<li><?js= self.linkto(r) ?></li>
<?js }); ?></ul>
<?js } ?>
<?js if (data.fires && fires.length) { ?>
Fires
`````

<?js fires.forEach(function(f) { ?>
    * <?js= self.linkto(f) ?>
<?js }); ?>
<?js } ?>
<?js if (data.listens && listens.length) { ?>
Listens to Events
`````````````````
<?js listens.forEach(function(f) { ?>
    * <?js= self.linkto(f) ?>
<?js }); ?>

<?js } ?>
<?js if (data.listeners && listeners.length) { ?>
Listeners of This Event
```````````````````````
<?js listeners.forEach(function(f) { ?>
    * <?js= self.linkto(f) ?>
<?js }); ?>

<?js } ?>
<?js if (data.modifies && modifies.length) {?>
Modifies
````````
<?js if (modifies.length > 1) { ?><?js
modifies.forEach(function(m) { ?>
    * <?js= self.partial('modifies.tmpl', m) ?>
<?js });
?>
<?js } else {
modifies.forEach(function(m) { ?>
    * <?js= self.partial('modifies.tmpl', m) ?>
<?js });

} } ?>
<?js if (data.exceptions && exceptions.length) { ?>
Throws
``````

<?js if (exceptions.length > 1) { ?><?js
exceptions.forEach(function(r) { ?>
    * <?js= self.partial('exceptions.tmpl', r) ?>
<?js }); ?>
<?js } else {
exceptions.forEach(function(r) { ?>
<?js= self.partial('exceptions.tmpl', r) ?>
<?js });
} } ?>
<?js if (data.returns && returns.length) { ?>
<h5>Returns:</h5>
<?js if (returns.length > 1) { ?><ul><?js
returns.forEach(function(r) { ?>
<li><?js= self.partial('returns.tmpl', r) ?></li>
<?js });
?></ul><?js } else {
returns.forEach(function(r) { ?>
<?js= self.partial('returns.tmpl', r) ?>
<?js });
} } ?>
<?js if (data.yields && yields.length) { ?>
<h5>Yields:</h5>
<?js if (yields.length > 1) { ?><ul><?js
yields.forEach(function(r) { ?>
<li><?js= self.partial('returns.tmpl', r) ?></li>
<?js });
?></ul><?js } else {
yields.forEach(function(r) { ?>
<?js= self.partial('returns.tmpl', r) ?>
<?js });
} } ?>
<?js if (data.examples && examples.length) { ?>
<h5>Example<?js= examples.length > 1? 's':'' ?></h5>
<?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>
